.block_grade_me .content {
    font-size: 0.75em !important;
    padding: 0 4px 4px 4px;
}

.block_grade_me dl,
.block_grade_me dt,
.block_grade_me dd,
.block_grade_me ul,
.block_grade_me li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block_grade_me .gm_icon {
    float: left;
    height: 16px;
    margin-right: 4px;
    width: 16px;
}

.block_grade_me .cmod {
    line-height: 16px;
    margin: 6px 0 2px 0;
}

.block_grade_me .module {
    line-height: 16px;
    padding: 3px 0 3px 20px;
    position: relative;
}

.block_grade_me .toggle {
    background: transparent url('[[pix:block_grade_me|closed]]') no-repeat 50% 50%;
    cursor: pointer;
    display: block;
    float: left;
    height: 16px;
    left: 0;
    position: relative;
    width: 16px;
}

.block_grade_me .toggle.open {
    background: transparent url('[[pix:block_grade_me|open]]') no-repeat 50% 50% !important;
}

.jsenabled .block_grade_me_hide {
    display: none;
}

.block_grade_me .cloakable {
    border-top: 1px dotted #ccc;
    line-height: 1em;
    margin: 0 0 3px 0;
}

.block_grade_me .gradable {
    border-bottom: 1px dotted #ccc;
    padding: 2px 0;
}

.block_grade_me .gradable a {
    display: inline-block;
}

.block_grade_me .gradable .gm_icon {
    margin-top: 1px;
}

.block_grade_me .cloakable * {
    font-size: 9px;
}

.block_grade_me .empty {
    line-height: 15px;
}

.block_grade_me .empty img {
    float: left;
    height: 15px;
    margin-right: 4px;
    width: 15px;
}

.block_grade_me .excess {
    color: rgb(205,0,0);
    font-weight: bold;
    margin-top: 4px;
    padding: 4px 16px;
    text-align: center;
}
